@import "./../../../theme";
@import "./../../../mixin";

.confirm {
	position: fixed;
	z-index: 1000;
	inset: -10vw -10vh;
	min-width: 100vw;
	min-height: 100vh;
	background-color: adjust-color($color: $grey0, $alpha: -0.5);
	@include flex(center, center, column);

	&__body {
		padding: 15px;
		border-radius: 10px;
		background-color: $greyf;
		box-shadow: 0px 10px 30px adjust-color($color: $grey0, $alpha: -0.8);
	}
	&__title {
		display: block;
		@include roboto(16px, 700);
	}
	&__action {
		margin-top: 15px;
		@include flex();
	}
	&__action__item {
		& + & {
			margin-left: 10px;
		}
	}
}
