// PROJECT THEME
$blue: #457b82;
$yellow: #fffced;
$grey1f: #1f1f1f;
$grey2b: #2b2b2b;
$greye7: #e7e5d8;

// HELPER COLOR
$black: #000000;
$grey0: #000000;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;
$greyf: #ffffff;
$white: #ffffff;
